language: python
python:
  - "pypy"
  - "pypy3"
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
# command to install dependencies
install:
  - "pip install ."
  - "pip install coveralls"
# command to run tests
script:
  nosetests  --with-coverage --cover-package=datasize
# command to run on successful builds
after_success:
  coveralls
